@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Red+Hat+Display:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}
body{
    background: linear-gradient(#0a0a0a, #130000);
  }
img {
  padding: 10%;
}
h1{
    color: aliceblue;
}