@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
    --primary-color: #3f51b5;
    --secondary-color: #ffffff;
    --tertiary-color: #ffc107;
    --text-color: #b6b6b6;
    --text-light-color: #dfdddd;
}

body {
    background-color: #222222;
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px;
}

header h1 {
    color: white;
    font-size: 3em;
    margin: 0;
}

header h2 {
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: var(--secondary-color);
}

section h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--text-color);
}

section p {
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--text-light-color);
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

ul {
    padding-left: 2.5%;
}
